.footer {
  background-color: #444444; /* Cambiado a gris oscuro */
  color: white;
  padding: 1vh;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  z-index: 1000;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Separa los elementos al máximo */
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo .logo {
  font-size: clamp(.7rem, 1.5vw, 1rem);
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.footer-text {
  font-size: clamp(.7rem, 1.5vw, 1rem);
  color: #ccc; 
  font-family: 'Poppins', sans-serif;
}

.footer-text a {
  color: var(--accent-color); /* Naranja cálido */
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-text {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  
}