.gallery-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.slider-wrapper {
  position: relative; /* Necesario para que el bot칩n se posicione dentro de este contenedor */
  margin-bottom: 40px; /* Espaciado entre sliders */
}

.slider-title {
  font-size: clamp(2rem, 3vw, 2.5rem);
  margin-bottom: 15px;
  color: rgb(245, 236, 217);
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgb(59 41 42);
  margin-top: 7vh;
}

.slider-subtitle {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-bottom: 25px;
  color: #e0e0e0;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.slider-image {
  padding: 10px;
  overflow: hidden; /* Esconde cualquier contenido que se salga del contenedor */
  cursor: pointer; /* Cambia el cursor a un puntero */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image img {
  width: 100%; /* Ajusta el ancho de la imagen al contenedor */
  height: 300px; /* Altura fija para todas las im치genes */
  object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Transici칩n suave para el zoom */
}

.slider-image:hover img {
  transform: scale(1.1); /* Agranda la imagen al 110% al pasar el mouse */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}
.gallery-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.galery-button .btn {
  position: absolute; 
  top: 2vh;
  left: 40vh;
  display: inline-block;
  padding: 1vh; 
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(254 253 251);
  font-family: 'Great Vibes', cursive;
  background-color: rgb(59, 41, 42); 
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.galery-button .btn:hover {
  background-color: rgb(100, 70, 70); 
  transform: scale(1.05); 
}

/* Media query para pantallas peque침as (mobile) */
@media (max-width: 768px) {
  .galery-button .btn {
    top: 3vh;
    left: 9vh;
    font-size: 1rem; 
    padding: 0.8vh; 
  }

  .gallery-container{
    padding: 2vh;
  }
}

@media (max-width: 480px) {
  .galery-button .btn {
    top: 1vh;
    left: 30vh;
    font-size: 0.9rem; 
    padding: 0.6vh; 
  }
}

