.gallery-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.slider-wrapper {
  margin-bottom: 40px; /* Espaciado entre sliders */
}

.slider-title {
  font-size: clamp(2rem, 3vw, 2.5rem);
  margin-bottom: 15px;
  color: #ffcc00;
  text-align: left;
  font-family: 'Great Vibes', cursive;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slider-subtitle {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-bottom: 25px;
  color: #e0e0e0;
  text-align: left;
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Contenedor de la imagen */
.slider-image {
  padding: 10px;
  overflow: hidden; /* Esconde cualquier contenido que se salga del contenedor */
  cursor: pointer; /* Cambia el cursor a un puntero */
}

/* Imagen con efecto de zoom */
.slider-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Transición suave para el zoom */
}

/* Efecto de zoom al pasar el mouse */
.slider-image:hover img {
  transform: scale(1.1); /* Agranda la imagen al 110% */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}