@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent; /* Transparente */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(254 253 251);
  box-shadow: 0 8px 12px rgb(251 251 251);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo{
  max-width: 20vh;
}


.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 4vw;
  margin: 0;
  padding: 0;
  justify-content: end;
}


.navbar .nav-links a {
  text-decoration: none;
  color: rgb(59 41 42);
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500; /* Peso medio */
  font-family: 'Great Vibes', cursive;
  letter-spacing: 0.5px; /* Espaciado entre letras */
  transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar .nav-links a:hover {
  color: #000000; 
  transform: scale(1.05);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 1rem 2rem;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  
  .logo{
    display: block;
    width: clamp(7rem, 12vw, 10rem);
  }
}