.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent; /* Transparente */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente al pasar el mouse */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; /* Fuente amigable */
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo{
  max-width: 18vh;
}

.logo_secundario{
  display: none;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 4vw;
  margin: 0;
  padding: 0;
  justify-content: end;
}


.navbar .nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: clamp(.7rem, 1.5vw, 1rem);
  font-weight: 500; /* Peso medio */
  font-family: 'Poppins', sans-serif; /* Fuente amigable */
  letter-spacing: 0.5px; /* Espaciado entre letras */
  transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar .nav-links a:hover {
  color: var(--accent-color); 
  transform: scale(1.1); 
}


@media (max-width: 768px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 1rem 2rem;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  .logo{
    display: none;
  }
  
  .logo_secundario{
    display: block;
    width: clamp(1rem, 1.5rem, 2rem);
  }
}