.services-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .services-page h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 10vh;

  }
  
  .service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .service-images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas para las imágenes */
    gap: 5px;
  }
  
  .service-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .service-info {
    padding: 15px;
  }
  
  .service-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .service-info p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
  }
  .contact-button-container {
    text-align: center;
    margin-top: 30px;
  }
  
  .contact-button {
    background-color: #F97316;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #ea580c;
    transform: scale(1.05); 
  }

  @media (max-width: 768px) {
    .services-grid {
      grid-template-columns: 1fr;
    }
  }